html{
    margin: 0 ;
    padding: 0;
}
.logo
{
    height: 100px;
}
.nav
{
    float: right;
    line-height: 100px;
}
.navlist
{
    display: inline;
    text-decoration: none;
}
.icon
{
    font-size: 20px;
    padding-left: 20px;
}
.ts 
{
    font-size: 25px;
}

@media screen and (max-width:768px)
{
.logo{
    height: 50px;
}
.icon
{
    font-size: 10px;
    padding-left: 10px;
}
.ts
{
    font-size: 20px;
}
.navlist
{
    padding : 10px;
}

}


.circle
{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    transform: rotateZ(30deg);
    background: linear-gradient(rgb(253, 1, 177), rgb(253, 1, 177), red,red,yellow,yellow);
    display: flex;
    justify-content: center;
    align-items: center;
}
.cir
{
    height: 94px;
    width: 94px;
    border-radius: 50%;
    background-color: white;
    border: 4px solid white;
    transform: rotateZ(-30deg);
}
.cr0
{
    background-image: url(images/me.jpg);
    background-size: cover;
    background-position: center;
    transform: rotateZ(0deg);
}
.circleplus
{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: blue;
    color: white;
    border: 2px solid white;
    position: absolute;
    margin-top: 60px;
    margin-left: 63px;
}
.cr1
{
    background-image: url(images/rt.jpg);
    background-size: cover;
    background-position: center;
}
.cr2
{
    background-image: url(images/bg.jpg);
    background-size: cover;
    background-position: center;
}
.cr3
{
    background-image: url(images/msd.jpg);
    background-size: cover;
    background-position: center;
}
.cr4
{
    background-image: url(images/vk.jpg);
    background-size: cover;
    background-position: center;
}
.cr5
{
    background-image: url(images/vj.jpg);
    background-size: cover;
    background-position: center;
}
.cr6
{
    background-image: url(images/aj.jpg);
    background-size: cover;
    background-position: center;
}
.bb
{
    box-shadow: 0px 0px 2px black;
}

@media(max-width:768px){
    .nav
    {
        line-height: 50px;
    }
     .circle
{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transform: rotateZ(30deg);
    background: linear-gradient(rgb(253, 1, 177), rgb(253, 1, 177), red,red,yellow,yellow);
    display: flex;
    justify-content: center;
    align-items: center;
}
.cir
{
    height: 47px;
    width: 47px;
    border-radius: 50%;
    background-color: black;
}
.c1
{
    display: none;
}
.textsmall
{
    font-size: 10px;
    text-align: center;
}
.circleplus
{
    height: 15px;
    width: 15px;
    margin-top: 27px;
    margin-left: 27px;
}
.textsm{
    text-align: center;
    font-size: 8px;
}
}
@media(max-width:425px)
{
    .c2
    {
        display: none;
    }
}
@media(max-width:320px)
{
.ts{
    font-size: 13px;
}
.navlist
{
    padding: 4px !important;
}
}

.logocircle
{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 2px solid rgb(247, 49, 49);
    background-image: url(images/msd.jpg);
    box-shadow: inset 0px 0px 4px white;
    background-position: center;
    background-size: cover;
}
.profilename
{
    line-height: 70px;
    margin-left: 5px;
}
@media(max-width:768px)
{
    .logocircle
    {
        height: 35px;
        width: 35px;
        box-shadow: inset 0px 0px 2px white;
        border: 1px solid rgb(247, 49, 49);
    }
    .profilename
    {
        font-size: 8px;
        line-height: 35px;
    }
    .ih
    {
        margin-top: 8px;
    }
}
.post
{
    height:50vh;
    background:linear-gradient(45deg,rgba(245,70,66,0.75),rgba(8,83,156,0.75)),url(images/msd.jpg);
    background-position: center;
    background-size: cover;
}
.lc1
{
    background-image: url(images/rt.jpg);
}
.p1
{
    background: linear-gradient(45deg,rgba(66, 99, 245, 0.75),rgba(45, 218, 97, 0.75)),url(images/rt.jpg);
    background-position: center;
    background-size: cover;
}
.lc2
{
    background-image: url(images/aj.jpg);
}
.p2
{
    background:linear-gradient(45deg,rgba(255, 217, 1, 0.75),rgba(18, 223, 212, 0.75)),url(images/aj.jpg);
    background-position: center;
    background-size: cover;
}
.hs
{
    font-size: 30px;
}
.hs:hover
{
    color: slategrey;
}
.hr:hover
{
    transform: scale(1.5);
}
@media(max-width:768px)
{
    .hs{
        font-size: 20px;
    }
}
.hs.cc{
    color: red;
}
.hs1.cc1{
    color: red;
}
.hs2.cc2{
    color: red;
}
.circlepro
{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-size: cover;
    background-image: url(images/me.jpg);
    background-position: center;
}
.qs
{
    filter: drop-shadow(0px 0px 2px black);
    letter-spacing: 3px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: white ;
    -webkit-text-stroke-width: 2px;

}
.qs1
{
    letter-spacing: 1px;
    filter: drop-shadow(0px 2px 4px black);
    font-variant: small-caps;
}
.cmt
{
    font-style: italic;
}
@media(max-width:768px)
{
    .cmt
    {
    font-size: 10px;
}
.cmt1
{
    font-size: 14px;
}
.pf
{
   font-size: 12px;
}
}
mark
{
    color: yellow;
    background-color: darkslategray !important;
}
.ddlist
{
    display: block;
}
.dropdown
{
    background-color: white;
    box-shadow: 0px 0px 4px black;
    position: absolute;
    z-index: 999;
}
body.story1
{
    position: absolute;
}